SALT_SEED=0xabc
CHAIN_ID=81457
RPC_URL=https://blast.blockpi.network/v1/rpc/public
WITHDRAWER=0x320849EC0aDffCd6fb0212B59a2EC936cdEF5fCa
KRYSTAL_ROUTER=0x9AF1B56Acb3F0Af84Be68cE1A5284ACc0615faDD
# ETHERSCAN_API_KEY=HZKN2R86YDEC3KVGJ4RC9DS29B63A4757R
# VERIFIER_URL=https://api.blastscan.io/api
GAS_PRICE=